body {
    text-align: center;
    background-color: #f1faee;
    color: #03071e;
  }
  
  

  button {
  
    width: 150px;
    height: 70px;
    background-color: aqua;
    margin: 0 2.5% 7.5%;
    color: #264653;
    border-style: none;
    border-radius: 13px;
    transition: all 1s ease;
    transform: scale(1);
    font-size: 1,2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }
  
 button:hover{
    transform:  scale(1.2);
    cursor: pointer;
    color: antiquewhite;
 }
